button{
    width: 90px;
    margin-right: 10px;
}

img{
    max-height: 200px;
    max-width: 200px;
    display: inline-block;
    
}
h2{
    color: sienna;
}
body{
   background-image: url("../images/ecailles.png");
   margin: 10px;
}

/* #gifs-display{
    
} */

#addAnimal{
    background-color: paleturquoise;
}

#animal-form{
    width: 100px;
    float: right;
}

#animal-input{
    width: 200px;
}